{% extends 'profile.html' %}

{% block content %}
<style>
    .get-all-cars {
        border-collapse: collapse;
        width: 80%;
    }

    .get-all-cars th, .get-all-cars td {
        text-align: left;
        padding: 8px; 
    }

    .get-all-cars tr:nth-child(even) {
        background-color: #f0f0f0;
    }

    .get-all-cars tr:hover {
        background-color: #ddd;
    }
</style>
<table class="get-all-cars">
    <thead>
        <tr>
            <th>Car_id</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Color</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.car_id }}</td>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.color }}</td>
                <td>{{ car.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
